<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>오늘의 OX</title>



</head>
<body>
    <table border = '1'>
        <head>
            <tr>
                <th>날짜</th>
                <th>🙆‍♀️🙅‍♀️</th>
            </tr>
        </head>
        <body>
            <tr>
                <td>오늘</td>
                <td>O</td>
            </tr>
            <tr>
                <td>오늘</td>
                <td>X</td>
            </tr>

        <div class="top">
            block
        </div>

        <span>
            inline
        </span>

        색깔 <input type="color" />
        </body>
    </table>
</body>
</html>